[flake8]
ignore = E501, W503
max-line-length = 150
exclude = .git,__pycache__,.venv,build,dist,docs,tests
# `_` is installed as a builtin by gettext at runtime (see language_handler).
builtins = _
